@model string[]

<link href="/css/lab3.css" rel="stylesheet"/>

<section class="chat">
    <div class="form-wrapper">
        <div class="wrapper state-wrapper">
            <p>State:</p>
            <p id="conState">Disconnected</p>
            <button id="connectButton" type="button" onclick="connect()">Connect</button>
        </div>
        <div class="wrapper login-wrapper">
            <label for="name">Role:</label>
            <select class="form-control" id="role" onchange="setMyName()">
                @foreach (string item in @Model)
                {
                    <option selected=@Model[0] value=@item>@item</option>
                }
            </select>
        </div>
        <div class="wrapper">
            <label for="wrapper message">To do:</label>
            <button type="button" onclick="sendMessage('Eat')">Eat</button>
            <button type="button" onclick="sendMessage('Move')">Move</button>
        </div>
    </div>
    <div class="messages-wrapper">
        <div id="messages-content">
        </div>
    </div>

</section>
<script type="text/javascript" src="~/js/signalr.min.js"></script>
<script type="text/javascript" src="~/js/lab3.js" asp-append-version="true"></script>