<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OOP</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-dark text-white p-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col navbar-brand">OOP</div>
            </div>
        </div>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            <a asp-controller="Home" asp-action="Index" 
                class="btn btn-outline-secondary mb-5">
                Home
            </a>
            <div class="mb-3">
                <h4>Lab 1</h4>
                <a asp-controller="Lab1" asp-action="Task1"
                    class="btn btn-outline-secondary">
                    Task 1
                </a>
                <a asp-controller="Lab1" asp-action="Task2"
                    class="btn btn-outline-secondary">
                    Task 2
                </a>
                <a asp-controller="Lab1" asp-action="Task3"
                    class="btn btn-outline-secondary">
                    Task 3
                </a>
            </div>
            <div class="mb-3">
                <h4>Lab 2</h4>
                <a asp-controller="Lab2" asp-action="Index"
                    class="btn btn-outline-secondary">
                    Task 1
                </a>
            </div>
            <div class="mb-3">
                <h4>Lab 3</h4>
                <a asp-controller="Lab3" asp-action="Index"
                    class="btn btn-outline-secondary">
                    Task 1
                </a>
            </div>
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>